{% extends 'base.html.twig' %}

{% block title 'About Us | ' ~ parent() %}

{% block body %}
    <img src="{{ asset('img/user.png') }}" alt="User logo">
    <h1>Built with &hearts; by Samba Dramé</h1>
    <p>
        <a href="{{ path('app_home') }}" >Revenir à la page d'accueil</a>
    </p>
{% endblock %}
