{% extends 'base.html.twig' %}

{% block title %}Hello City!{% endblock %}

{% block body %}
    <img class="mt-12 rounded shadow-md"
            src="{{ asset('img/icon.jpg') }}" alt="Quebec Flag">
    <h1 class="text-center mt-5 text-3xl sm:text-5xl font-semibold text-indigo-600">
        Hello from Senegal!
    </h1>
        <p class="text-lg text-gray-800 text-center">
            It's currently {{ 'now'| date('H:i A') }}.</p>

{% endblock %}
